Repository c2siorg/Codelabz, changes with the labels that .github/labeler.yml gives for each.
All labels: root, Documentation, security, CI/CD, testing, design, component, css

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'

Documentation:
- changed-files:
  - any-glob-to-any-file: ['CONTRIBUTING.md', 'ISSUE_TEMPLATE/*', 'TESTDATA.md', 'code_of_conduct.md', 'database.rules.json', 'firebase.json', 'firestore.rules', 'firestore.indexes.json', 'LICENSE', 'README.md']

feature:
- head-branch: ['^feature', 'feature']

release:
- base-branch: 'master'

security:
- changed-files:
  - any-glob-to-any-file: 'firebase.json'
  - any-glob-to-any-file: 'firestore.rules'
  - any-glob-to-any-file: 'firestore.indexes.json'

CI/CD:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '**/*.yml'

testing:
- changed-files:
  - any-glob-to-any-file: 'cypress/**/*.js'

design:
- changed-files:
  - any-glob-to-any-file: 'designs/**/*.css'
  - any-glob-to-any-file: 'designs/**/*.scss'
  - any-glob-to-any-file: 'designs/**/*.html'

component:
- changed-files:
  - any-glob-to-any-file: 'src/components/**/*'

css:
- changed-files:
  - any-glob-to-any-file: 'src/css/**/*'

chore: Update stale workflow to close issues and pull requests after 180 days of inactivity
  .github/workflows/stale.yml
Labels: CI/CD

feat: Add PR Target Workflow with guidelines for PR review process
  .github/workflows/pull-request-target.yml
Labels: CI/CD

Refactor: Improve PR Approval Message with Emojis 🔄
  .github/workflows/pull-request-target.yml
Labels: CI/CD

Added detailed README.md outlining Codelabz CI/CD workflows.
  .github/README.md
Labels: none

feat: Add TutorialLikesDislikes component for handling tutorial likes and dislikes
  src/components/ui-helpers/TutorialLikesDislikes.jsx
Labels: component

feat: Transition from upVote/downVote to like/dislike system for tutorials
  src/components/Card/CardWithPicture.jsx
  src/components/Card/CardWithoutPicture.jsx
  src/components/TutorialPage/components/PostDetails.jsx
  src/components/TutorialPage/index.jsx
Labels: component

feat: Add CommentLikesDislikes component for handling comment likes and dislikes
  src/components/ui-helpers/CommentLikesDislikes.jsx
Labels: component

feat: Transition from upVote/downVote to like/dislike system for comments
  src/components/TutorialPage/components/Commnets/Comment.jsx
Labels: component

chore: Replace useState with useEffect in Comment component
  src/components/TutorialPage/components/Commnets/Comment.jsx
Labels: component

chore: Refactor Textbox component to handle comment submission on Enter key press
  src/components/TutorialPage/components/Commnets/Textbox.jsx
Labels: component

refactor(CommentBox): Improvements in handling comment submission
  src/components/TutorialPage/components/Commnets/CommentBox.jsx
  src/components/TutorialPage/index.jsx
  src/store/actions/tutorialPageActions.js
Labels: component

chore: Refactor variable names for consistency
  src/components/Topbar/Activity/ActivityList.jsx
  src/components/Topbar/Activity/index.jsx
Labels: component

feat: Update homepage feed by sorting the tutorials based on the selected filter type
  src/components/HomePage/index.jsx
  src/components/MyFeed/DiscoverCodelabz/CodelabzCarousel.jsx
  src/store/actions/tutorialPageActions.js
Labels: component

fix: Correct author data and follow functionality
  src/components/TutorialPage/components/PostDetails.jsx
  src/components/TutorialPage/components/UserDetails.jsx
  src/store/actions/profileActions.js
Labels: component

Add tutorial tags functionality for improved content categorization and discovery
  src/components/Card/CardWithoutPicture.jsx
  src/components/Tutorials/NewTutorial/index.jsx
  src/store/actions/tutorialPageActions.js
  src/store/actions/tutorialsActions.js
Labels: component

chore: Reset form fields and tags when closing tutorial modal
  src/components/Tutorials/NewTutorial/index.jsx
Labels: component

feat: Improve feed recommendations by integrating tag-based matching
  src/components/TutorialPage/components/PostDetails.jsx
  src/components/TutorialPage/components/Thumbnails.jsx
  src/components/TutorialPage/components/sideBar.jsx
  src/components/TutorialPage/index.jsx
  src/store/actions/index.js
  src/store/actions/tutorialPageActions.js
Labels: component

chore: Refactor Elasticlunr class methods
  src/helpers/elasticlunr.jsx
Labels: none

chore: Add fetchAndIndexTutorials action to App component
  src/App.jsx
  src/store/actions/index.js
  src/store/actions/tutorialsActions.js
Labels: none

chore: Simplify search results population logic
  src/components/Tutorials/MyTutorials/Search/index.jsx
Labels: component

chore: Update SearchResultsComponent to handle search queries and results
  src/components/Tutorials/MyTutorials/Search/SearchResultsComponent.jsx
Labels: component

chore: Add `/search` route for handling search results and Implement search functionality in MainNavbar and MiniNavbar components
  src/components/NavBar/new/MainNavbar/index.jsx
  src/components/NavBar/new/MiniNavbar/index.jsx
  src/routes.jsx
Labels: component

feat: Add notification reducers
  src/store/reducers/index.js
  src/store/reducers/notificationReducers/addReducer.js
  src/store/reducers/notificationReducers/dataReducer.js
  src/store/reducers/notificationReducers/index.js
Labels: none

chore: Organize and optimize import statements in actions file
  src/store/actions/index.js
  src/store/actions/orgActions.js
  src/store/actions/profileActions.js
Labels: none

feat: Add notification functionality and actions
  src/store/actions/actionTypes.js
  src/store/actions/tutorialsActions.js
Labels: none

chore: Remove unused notification component and optimize styles
  src/components/Notification/notifications.js
  src/components/Notification/styles.jsx
Labels: component

chore: Update Notification component with Redux integration and UI improvements
  src/components/Notification/NotificationBox.jsx
  src/components/Notification/index.jsx
Labels: component

feat: Update SideBar component with notification count badge
  src/components/HomePage/index.jsx
  src/components/NavBar/new/MainNavbar/index.jsx
  src/components/NavBar/new/MiniNavbar/index.jsx
  src/components/SideBar/index.jsx
  src/components/SideBar/sidelist.jsx
  src/components/UserDashboard/index.jsx
Labels: component

feat: Add functionality to update tag frequencies when creating a tutorial
  src/store/actions/index.js
  src/store/actions/tutorialsActions.js
Labels: none

chore: Refactor search functionality and code structure to populate tutorials
  src/components/Tutorials/MyTutorials/BaseTutorialsComponent/TutorialCard.jsx
  src/components/Tutorials/MyTutorials/Search/SearchResultsComponent.jsx
Labels: component

chore: Add user feed reducer to profile reducer
  src/store/actions/actionTypes.js
  src/store/reducers/profileReducer/index.js
  src/store/reducers/profileReducer/userFeedReducer.js
Labels: none

feat: Add user feed functionality to profile page and organize exports
  src/store/actions/index.js
  src/store/actions/profileActions.js
Labels: none

Upgrade Cypress workflow
  .env.sample
  .github/workflows/cypress.yml
  .github/workflows/test.yml
  cypress.config.js
  package.json
Labels: root, CI/CD

Rebuild CI/CD Pipeline
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/main.yml
  .gitignore
  firebase.json
  functions/package-lock.json
  functions/package.json
  package-lock.json
  package.json
  public/404.html
  src/components/ui-helpers/Inputs/PrimaryInput.jsx
  src/components/ui-helpers/Inputs/SecondaryInput.jsx
  src/config/index.js
  src/css/firepad.css
Labels: root, Documentation, security, CI/CD, component, css

Fix deployment issues
  .env.sample
  .github/workflows/cypress.yml
  database.rules.json
  src/config/index.js
  src/store/actions/authActions.js
Labels: root, Documentation, CI/CD

Implement like/dislike system for comments and tutorials
  src/components/Card/CardWithPicture.jsx
  src/components/Card/CardWithoutPicture.jsx
  src/components/TutorialPage/components/Commnets/Comment.jsx
  src/components/TutorialPage/components/PostDetails.jsx
  src/components/TutorialPage/index.jsx
  src/components/ui-helpers/CommentLikesDislikes.jsx
  src/components/ui-helpers/TutorialLikesDislikes.jsx
Labels: component

Fix comment display issue
  src/components/TutorialPage/components/Commnets/Comment.jsx
  src/components/TutorialPage/components/Commnets/CommentBox.jsx
  src/components/TutorialPage/components/Commnets/Textbox.jsx
  src/components/TutorialPage/index.jsx
  src/store/actions/tutorialPageActions.js
Labels: component

Implement in-app notification logic
  src/components/HomePage/index.jsx
  src/components/NavBar/new/MainNavbar/index.jsx
  src/components/NavBar/new/MiniNavbar/index.jsx
  src/components/Notification/NotificationBox.jsx
  src/components/Notification/index.jsx
  src/components/Notification/notifications.js
  src/components/Notification/styles.jsx
  src/components/SideBar/index.jsx
  src/components/SideBar/sidelist.jsx
  src/components/UserDashboard/index.jsx
  src/store/actions/actionTypes.js
  src/store/actions/index.js
  src/store/actions/orgActions.js
  src/store/actions/profileActions.js
  src/store/actions/tutorialPageActions.js
  src/store/actions/tutorialsActions.js
  src/store/reducers/index.js
  src/store/reducers/notificationReducers/addReducer.js
  src/store/reducers/notificationReducers/dataReducer.js
  src/store/reducers/notificationReducers/index.js
Labels: component

Add search functionality
  src/App.jsx
  src/components/NavBar/new/MainNavbar/index.jsx
  src/components/NavBar/new/MiniNavbar/index.jsx
  src/components/Tutorials/MyTutorials/BaseTutorialsComponent/TutorialCard.jsx
  src/components/Tutorials/MyTutorials/Search/SearchResultsComponent.jsx
  src/components/Tutorials/MyTutorials/Search/index.jsx
  src/helpers/elasticlunr.jsx
  src/routes.jsx
  src/store/actions/index.js
  src/store/actions/tutorialsActions.js
Labels: component

Fix authentication issues
  src/components/AuthPage/Login/ViewAlerts.jsx
  src/components/AuthPage/Login/index.jsx
  src/components/AuthPage/SignUp/signupForm.jsx
  src/store/actions/authActions.js
Labels: component
