Repository c2siorg/Codelabz, changes with the labels that .github/labeler.yml gives for each.
All labels: root, Documentation, security, CI/CD, testing, design, component, css

.github/labeler.yml:

root:
- changed-files:
  - any-glob-to-any-file: '*'

Documentation:
- changed-files:
  - any-glob-to-any-file: ['CONTRIBUTING.md', 'ISSUE_TEMPLATE/*', 'TESTDATA.md', 'code_of_conduct.md', 'database.rules.json', 'firebase.json', 'firestore.rules', 'firestore.indexes.json', 'LICENSE', 'README.md']

feature:
- head-branch: ['^feature', 'feature']

release:
- base-branch: 'master'

security:
- changed-files:
  - any-glob-to-any-file: 'firebase.json'
  - any-glob-to-any-file: 'firestore.rules'
  - any-glob-to-any-file: 'firestore.indexes.json'

CI/CD:
- changed-files:
  - any-glob-to-any-file: '.github/workflows/*'
  - any-glob-to-any-file: '**/*.yml'

testing:
- changed-files:
  - any-glob-to-any-file: 'cypress/**/*.js'

design:
- changed-files:
  - any-glob-to-any-file: 'designs/**/*.css'
  - any-glob-to-any-file: 'designs/**/*.scss'
  - any-glob-to-any-file: 'designs/**/*.html'

component:
- changed-files:
  - any-glob-to-any-file: 'src/components/**/*'

css:
- changed-files:
  - any-glob-to-any-file: 'src/css/**/*'

feat: Update homepage feed by adding "Featured" filter option
  src/components/CodelabCard/index.jsx
  src/components/HomePage/index.jsx
  src/components/MyFeed/DiscoverCodelabz/CodelabzCarousel.jsx
Labels: component

feat: Display tutorials on Profile Page
  src/components/User/UserProfile/UserProfile.jsx
Labels: component

Refactor: Remove unused dispatch parameter and ensure correct usage of firebase and firestore parameters
  src/components/Dashboard/index.jsx
  src/components/Organization/OrgUsersCard/addOrgUserModal.jsx
  src/helpers/validations.jsx
  src/store/actions/authActions.js
  src/store/actions/profileActions.js
  src/store/actions/tutorialsActions.js
Labels: component

chore: Refactor UserCard component and update user feed functionality
  src/components/CardTabs/Users/index.jsx
  src/components/HomePage/index.jsx
Labels: component

refactor: Implement dynamic data rendering for "Who to Follow" sidebar
  src/components/CardTabs/Users/UserElement.jsx
Labels: component

chore: Update profile data fetching in multiple components
  src/App.jsx
  src/components/Organization/pages/General.jsx
  src/components/Tutorials/NewTutorial/index.jsx
  src/routes.jsx
Labels: component

feat: Update user dashboard profile and user settings navigation
  cypress/e2e/components/profile/user-dashboard.cy.js
Labels: testing

Enhance feed recommendations with tutorial tags
  src/components/Card/CardWithoutPicture.jsx
  src/components/CodelabCard/index.jsx
  src/components/HomePage/index.jsx
  src/components/MyFeed/DiscoverCodelabz/CodelabzCarousel.jsx
  src/components/Topbar/Activity/ActivityList.jsx
  src/components/Topbar/Activity/index.jsx
  src/components/TutorialPage/components/PostDetails.jsx
  src/components/TutorialPage/components/Thumbnails.jsx
  src/components/TutorialPage/components/sideBar.jsx
  src/components/TutorialPage/index.jsx
  src/components/Tutorials/NewTutorial/index.jsx
  src/components/User/UserProfile/UserProfile.jsx
  src/store/actions/index.js
  src/store/actions/tutorialPageActions.js
  src/store/actions/tutorialsActions.js
Labels: component

Fix author data handling on tutorial page
  src/components/Dashboard/index.jsx
  src/components/Organization/OrgUsersCard/addOrgUserModal.jsx
  src/components/TutorialPage/components/PostDetails.jsx
  src/components/TutorialPage/components/UserDetails.jsx
  src/helpers/validations.jsx
  src/store/actions/authActions.js
  src/store/actions/profileActions.js
  src/store/actions/tutorialsActions.js
Labels: component

Integrate dynamic sidebar rendering feature
  cypress/e2e/components/profile/user-dashboard.cy.js
  src/App.jsx
  src/components/CardTabs/Users/UserElement.jsx
  src/components/CardTabs/Users/index.jsx
  src/components/HomePage/index.jsx
  src/components/Organization/pages/General.jsx
  src/components/Topbar/Activity/ActivityList.jsx
  src/components/Tutorials/NewTutorial/index.jsx
  src/routes.jsx
  src/store/actions/actionTypes.js
  src/store/actions/index.js
  src/store/actions/profileActions.js
  src/store/reducers/profileReducer/index.js
  src/store/reducers/profileReducer/userFeedReducer.js
Labels: testing, component
